/.venv
/cat_game.py
/cat_llm_handler.py
/cat_narrative_state_machine.py
/deepseek.py
/logs
/read.md
/Security Game
/SLOTMACHINE
/task_state_machine
/task_state_machine.png
/test0_adventure.py
/test1.py
/__pycache__
Generate_branches/Generate_branches_env